@font-face {
    font-family: 'Junicode';
    src: url(..\Junicode\TTF\Junicode-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Junicode';
    max-width: 8.5in;
    margin-left: 0.5in;
    margin-right: 0.5in;
}

p {
font-family: 'Junicode'; 
font-size: 12pt;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Junicode';
    text-align: center;
}

.poem {
    margin-left:2in; 
    margin-right:1in; 
    margin-bottom: 1em; 
    text-align: left;
    counter-reset: line-counter;
}
.poem p {
    margin: 0; 
    padding-left: 3em; 
    text-indent: 0;
    position: relative;
    counter-increment: line-counter;
}
.poem p.stanza {
    margin-top: 1em;
}
.poem p:nth-child(5n)::before {
    position: absolute;
    text-align: right;
    left: 0;
    top: 0;
    content: counter(line-counter);
    color: #888;
}
