@font-face {
    font-family: 'Junicode';
    src: url('./junicode/Junicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
    font-family: 'Junicode', serif;
}
body {
    font-family: 'Junicode', serif;
}