@font-face {
    font-family: 'Junicode';
    src: url('../Junicode/TTF/Junicode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Junicode';
    max-width: 8.5in;
    margin: 0 auto;
    padding: 0 0.5in;
}

p {
font-family: 'Junicode'; 
font-size: 12pt;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Junicode';
    text-align: center;
}

.poem {
    margin: 0 1in 1em 1in;
    text-align: left;
    counter-reset: line-counter;
}
.poem p {
    margin: 0; 
    padding-left: 3em; 
    text-indent: 0;
    position: relative;
    counter-increment: line-counter;
}
.poem p.i2 { padding-left: 5em; }
.poem p.i4 { padding-left: 6em; }
.poem p.i6 { padding-left: 7em; }
.poem p.i8 { padding-left: 8em; }
.poem p.stanza {
    margin-top: 1em;
}
.poem p:nth-of-type(5n)::before {
    position: absolute;
    text-align: right;
    left: 0;
    top: 0;
    content: counter(line-counter);
    color: #888;
}
