@font-face {
    font-family: 'Junicode';
    src: url('../Junicode/TTF/Junicode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Junicode';
    max-width: 8.5in;
    padding: 0 0.5in 0 0.5in;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    counter-increment: none;
}

.poem {
    width: max-content;
    max-width: 100%;
    text-align: left;
    margin: 0 auto; /* Centers the poem container on the page */
    counter-reset: line-counter;
}

.poem p {
    margin: 0;
    padding-left:3em;
    position: relative;
    counter-increment: line-counter;
}
.poem p.i2 { padding-left: 5em; }
.poem p.i4 { padding-left: 7em; }

.poem p:nth-of-type(5n)::before {   /* Counts only every 5 */
    position: absolute;
    text-align: right;
    left: 0;
    top: 0;
    content: counter(line-counter);
    color: #888;
}

.bibliography {
list-style: none; /* Removes bullet points */
padding-left: 0;
}
.bibliography li {
padding-left: 36px;       /* Pushes the entire block right */
text-indent: -36px;       /* Pulls only the first line back left */
margin-bottom: 12px;      /* Adds clean spacing between entries */
}